header{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
form{
background-color: red;
} 
body{
    background-color: #808080;
    }
nav{
    display:block;
    color: white;
    background-color:black;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
a{
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-weight: bolder;

    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: cyan;
}
.mail{
    margin-left: auto;
    margin-right: auto;
    color: blue;
}
h3{
    color: #ccc;
    margin-left: auto;
    margin-right: auto;
}
iframe { 
    width:fit-content;
    height: auto;
    margin-bottom: auto; 
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;

} 
#It{
    color: springgreen;
}:hover{
    color: #808080;
}
.bold{
    color: black;
}
CSS.WebContainer {
     width: 100% ; 
     height: auto ; 
    }.articles 
{ 
    width:100%;
    height: auto ; 
    margin: auto ; } 
.F{ 
    display:block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.p{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: #000000cf;
    margin-left: auto;
    margin-right: auto;
}
.p1{
    text-align: center;
    color: #ccc;
    margin-left: auto;
    margin-right: auto;
}

h1,h2{
    text-align: center;
    color: #ccc;
    margin-left: auto;
    margin-right: auto;
}
body{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 10%;
}
.founder.video{
    border-color:cyan;
    border-radius:20%;
    margin-left: auto;
    margin-right: auto;
}
